@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");

:root
{
	--mention-colour: 255, 33, 88;

	/* SettingsModal */
	--settingsmodalbackground:     transparent;            /* default:    transparent        (lowest bg color of changed windows, change it in case another theme turns them transparent)    */
    --settingsmodalwidth:         960px;                    /* default:    960px            (width of the settings modal, px/vw)                                                            */
    --settingsmodalheight:         80vh;                    /* default:    80vh            (height of the settings modal, px/vh)                                                           */

    --background-modifier-active: var(--background-tertiary);
    --background-floating: var(--background-secondary);
    --scrollbar-auto-thumb:var(--background-tertiary);
    --scrollbar-auto-track: var(--background-primary);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --activity-card-background: var(--background-secondary);
    --background-modifier-selected: var(--background-tertiary);
    --background-secondary-alt: var(--background-secondary);
    --channeltextarea-background: var(--background-secondary);
    --background-message-hover: var(--background-modifier-hover);
}

/* light mode */
.theme-light
{
    --background-primary: #FFFFFF;
    --background-secondary: #F7E5E9;
    --background-tertiary: #F9C7D1;

    --background-modifier-hover: #F9EDEF;
    --channels-default: black;
    --interactive-muted: #777;
}

/* set colours for dark mode */
.theme-dark
{
    --background-primary: #321E28;
    --background-secondary: #28141E;
    --background-tertiary: #230F19;

    --background-modifier-hover: #2D1923;
}

/* no bio cut off */
[class*="lineClamp2Plus_"] {
    -webkit-line-clamp: unset !important;
}

/* hi-colour mentions */
.mentioned_d5deea
{
    background-color: rgba(var(--mention-colour), 0.08) !important;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.mentioned_d5deea:hover
{
    background-color: rgba(var(--mention-colour), 0.1) !important;
}

div[class*="mentioned"]::before 
{
    width: 4px;
    background-color: rgb(var(--mention-colour));
}

div[class*="replying"]::before 
{
    width: 4px;
}

/* remove stuff we keep clicking on on accident :( */
div.iconWrapper_fc4f04.clickable_fc4f04[aria-label="Help"],
div[id="user-context-invite-to-server"],
div[id="user-context-call"]
{
    display: none !important;
}

/* make image attachments all the way square */
.visualMediaItemContainer_cda674,
.oneByOneGridSingle_cda674,
.imageWrapper_d4597d
{
    border-radius: 0;
}

/* reorder top bar and make search bar small by default */
.searchBar_a46bef
{
    width: 75px;
    border-radius: 12px;
    background: var(--background-secondary);
}

.recentsIcon_ea0547
{
    order: -1
}

.children_fc4f04:after
{
    display: none;
}

/* role indicator background on user popout */
.role_f9575e
{
    border-radius: 12px;
}

/* server channel list backgrounds */
.link_d8bfb3
{
    border-radius: 25px;
}

/* red dot unread */
.unread_d8bfb3
{
    z-index: 1;
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    top: 42%;
    left: 0px;
    margin-top: 0px;
    background-color: rgba(var(--mention-colour));
}

/* embed round on one side */
.embedFull_b0068a
{
    border-radius: 0px 15px 15px 0px;
}

/* make message text box round */
.scrollableContainer_d0696b
{
    border-radius: 25px;
}

.hasConnectedBar_d0696b
{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.attachedBars_d0696b
{
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}

/* i dont know what this does */
/*.member-48YF_l, .members-3WRCEx 
{
    background: transparent !important;
}*/
