@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");

:root
{
	--mention-colour: 255, 33, 88;

	/* SettingsModal */
	--settingsmodalbackground:     transparent;            /* default:    transparent        (lowest bg color of changed windows, change it in case another theme turns them transparent)    */
    --settingsmodalwidth:         960px;                    /* default:    960px            (width of the settings modal, px/vw)                                                            */
    --settingsmodalheight:         80vh;                    /* default:    80vh            (height of the settings modal, px/vh)                                                           */

    --background-modifier-active: var(--background-tertiary);
    --background-floating: var(--background-secondary);
    --scrollbar-auto-thumb:var(--background-tertiary);
    --scrollbar-auto-track: var(--background-primary);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --activity-card-background: var(--background-secondary);
    --background-modifier-selected: var(--background-tertiary);
    --background-secondary-alt: var(--background-secondary);
    --channeltextarea-background: var(--background-secondary);
    --background-message-hover: var(--background-modifier-hover);
}

/* light mode */
.theme-light
{
    --background-primary: #F9E5E9;
    --background-secondary: #F4D4DB;
    --background-tertiary: #F9C7D1;

    --background-modifier-hover: #F9E0E5;
    --channels-default: black;
    --interactive-muted: #777;
}

/* set colours for dark mode */
.theme-dark
{
    --background-primary: #321E28;
    --background-secondary: #28141E;
    --background-tertiary: #230F19;

    --background-modifier-hover: #2D1923;
}

.peopleColumn-1wMU14 
{
    background: var(--background-primary);
}

/* no bio cut off */
[class*="lineClamp2Plus-"] {
    -webkit-line-clamp: unset !important;
}

/* hi-colour mentions */
.mentioned-Tre-dv
{
    background-color: rgba(var(--mention-colour), 0.08) !important;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.mentioned-Tre-dv:hover
{
    background-color: rgba(var(--mention-colour), 0.1) !important;
}

div[class*="mentioned"]::before 
{
    width: 4px;
    background-color: rgb(var(--mention-colour));
}

div[class*="replying"]::before 
{
    width: 4px;
}

/* remove stuff we keep clicking on on accident :( */
div.iconWrapper-2awDjA.clickable-ZD7xvu[aria-label="Help"],
.wordmarkWindows-2dq6rw,
div[id="user-context-invite-to-server"],
div[id="user-context-call"]
{
    display: none !important;
}

/* make image attachments all the way square */
.mediaAttachmentsContainer-1WGRWy,
.oneByOneGridSingle-2ss-Zx,
.messageAttachmentMediaMosaic-2ic1yt,
.imageWrapper-oMkQl4 
{
    border-radius: 0;
}

/* reorder top bar and make search bar small by default */
.searchBar-jGtisZ
{
    width: 75px;
    border-radius: 12px;
}

.children-3xh0VB:after
{
    display: none;
}

.iconWrapper-2awDjA 
{
    order: -1;
}

/* role indicator background on user popout */
.role-2TIOKu 
{
    border-radius: 12px;
}

.roleCircle-1EgnFN 
{
    width: 5 !important;
    height: 5 !important;
}

/* server channel list backgrounds */
.content-1gYQeQ 
{
    border-radius: 25px;
}

/* red dot unread */
.unread-36eUEm 
{
    z-index: 1;
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    top: 42%;
    left: 1px;
    margin-top: 0px;
    background-color: rgba(var(--mention-colour));
}

/* embed round on one side */
.embedFull-1HGV2S 
{
    border-radius: 0px 15px 15px 0px;
}

/* fix channel typing indicator on light mode */
.theme-light .channel-typing-indicator
{
    filter: invert(1);
}

.scrollableContainer-15eg7h
{
    border-radius: 25px;
}

.hasConnectedBar-1vN2JH
{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.attachedBars-2BCP3l,
.replyBar-1oi75v
{
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}
